<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>Dedicated Parents | Cause</title>
        {{> header}}
    </head>
    <body>
        {{> headerNav active='causes'}}
		<div class="container">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">Cause</h2>
					</div> <!-- /.col-md-6 -->
					<div class="col-md-6 col-sm-6 hidden-xs back-home">
						<a href="/">&larr; Go back Home</a>
					</div> <!-- /.col-md-6 -->
				</div> <!-- /.row -->
			</div> <!-- /.page-header -->

			<div class="row">
				<div class="col-md-8">
					<div class="cause-single">
						<div class="cause-image">
<img src="https://res.cloudinary.com/miscellaneous/image/upload/c_lpad,h_410,w_710/{{cause.current.number}}/dedicatedparents/causes-photos/{{cause.current.imgSlug}}" alt="">
							<div class="cause-overlay hidden-xs">
								<div class="overlay-inner">
									<span class="meta-date"><i class="fa fa-calendar-o"></i>{{cause.current.date}}</span>
									<span class="meta-author"><i class="fa fa-user"></i>{{cause.current.author}}</span>
									<span class="price">Target: <br> {{cause.current.target}}</span>
								</div>
							</div> <!-- /.cause-overlay -->
						</div> <!-- /.cause-image -->
						<div class="cause-content">
							<div class="cause-holder-list clearfix">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{cause.current.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{cause.current.percent}}%;"></div>
								</div>
								<span class="raised pull-left">{{cause.current.raised}}</span>
								<span class="goal pull-right">{{cause.current.target}}</span>
							</div> <!-- /.cause-holder-list -->
								<span class="meta-cause visible-xs">{{cause.current.date}} by {{cause.current.author}}</span>
								<h3 class="cause-title">{{cause.current.title}}</h3>
								{{{cause.current.detail}}}
						</div> <!-- /.cause-content -->
					</div> <!-- /.cause-single -->
					<div class="row">
						<div class="col-md-12">
							<a href="/cause/{{cause.prev.slug}}" class="go-prev"><i class="fa fa-long-arrow-left"></i>Prev</a>
							<a href="/cause/{{cause.next.slug}}" class="go-next">Next <i class="fa fa-long-arrow-right"></i></a>
						</div> <!-- /.col-md-12 -->
					</div> <!-- /.row -->

				</div> <!-- /.col-md-8 -->
				<div class="col-md-4">
					<!-- /.box-content -->
					{{> galleryPhotos}}
					{{> upcomingEvents}}
					<!-- /.box-content -->
				</div> <!-- /.col-md-4 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		{{> footer}}
    </body>
</html>
